/* CSS code to style the entire payment form/page */
body {
    font-family: "Gotham";
    font-size: 15px;
    background-color: #f2f4f5;
    color: #000000;
}

/*.hpsRow {
    display: flex;
}

.hpsRow div {
    flex: 50%;
}*/

/*select {
    padding: 0px 10px;
    border: 2px solid #297f9d;
    color: #004861;
    height: 52px;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Gotham Bold";
    text-align: left;
    min-width: 100% !important;
    display: block;
    cursor: pointer;
}*/

/*#hpsExpirationRow {
    position: relative;*/
    /*border: 1px solid #297f9d;
    border-radius: 4px;*/
    /*margin-bottom: 20px;
    width: 100%;*/
    /*max-width: 455px;*/
/*}*/

/*#hpsExpirationRow input {
    height: 52px;
    font-size: 16px;
    line-height: 30px;
    color: #637a87;
    background: none;
    padding: 0 15px;
    position: relative;
    padding-top: 0;
    padding-right: 5px !important;
    font-weight: normal;
    font-family: "Gotham Regular";
    border-radius: 4px;
    border: none;
    width: 100%;
    cursor: pointer;
}*/

/*#hpsExpirationRow label {
    padding: 0 20px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 14px) scale(1);
    transition: all 0.1s ease-in-out;
    color: #929ca9;
    font-weight: normal;
    font-family: "Gotham Regular";
    width: 120%;
}
*/
#hpsZipRow {
    position: relative;
    border: 1px solid #297f9d;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 455px;
}

#hpsZipRow input {
    padding-top: 18px !important;
}

#hpsZipRow input {
    height: 52px;
    font-size: 16px;
    line-height: 30px;
    color: #637a87;
    background: none;
    padding: 0 15px;
    position: relative;
    padding-top: 0;
    padding-right: 5px !important;
    font-weight: normal;
    font-family: "Gotham Regular";
    border-radius: 4px;
    border: none;
    width: 100%;
    cursor: pointer;
}

#hpsZipRow label {
    padding: 0 20px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 14px) scale(1);
    transition: all 0.1s ease-in-out;
    color: #929ca9;
    font-weight: normal;
    font-family: "Gotham Regular";
    width: 120%;
}

#hpsZipRow label {
    padding: 0px 22px;
    transform: translate(0, 4px) scale(0.75);
    color: #8096a2;
    font-weight: 600;
    z-index: 999;
    text-align: left;
}

/** Inputs */

#hpsNameRow.hpsRow, #hpsCVV2Row.hpsRow, #hpsNumberRow.hpsRow {
    position: relative;
    border: 1px solid #297f9d;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 455px;
}

#hpsNameRow.hpsRow:hover, #hpsCVV2Row.hpsRow:hover, #hpsNumberRow.hpsRow:hover {
    border-color: #297f9d;
    border-width: 2px;
    cursor: pointer;
}

/*#hpsNameRow.hpsRow:active input, #hpsCVV2Row.hpsRow:active input, #hpsNumberRow.hpsRow:active input {
    padding-top: 18px !important;
}*/

#hpsNameRow.hpsRow:focus-within input, #hpsCVV2Row.hpsRow:focus-within input, #hpsNumberRow.hpsRow:focus-within input {
    padding-top: 18px !important;
}

#hpsNameRow.hpsRow input, #hpsCVV2Row.hpsRow input, #hpsNumberRow.hpsRow input {
    height: 52px;
    font-size: 16px;
    line-height: 30px;
    color: #637a87;
    background: none;
    padding: 0 15px;
    position: relative;
    padding-top: 0;
    padding-right: 5px !important;
    font-weight: normal;
    font-family: "Gotham Regular";
    border-radius: 4px;
    border: none;
    width: 100%;
    cursor: pointer;
}

#hpsNameRow.hpsRow label:focus, #hpsCVV2Row.hpsRow label:focus, #hpsNumberRow.hpsRow label:focus {
    border-color: #001e29;
    border-width: 2px;
}

#hpsNameRow.hpsRow label, #hpsCVV2Row.hpsRow label, #hpsNumberRow.hpsRow label {
    padding: 0 20px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    transform-origin: top left;
    transform: translate(0, 14px) scale(1);
    transition: all 0.1s ease-in-out;
    color: #929ca9;
    font-weight: normal;
    font-family: "Gotham Regular";
    width: 120%;
}

#hpsNameRow.hpsRow:active, #hpsCVV2Row.hpsRow:active, #hpsNumberRow.hpsRow:active {
    border-color: #001e29;
    border-width: 2px;
}

#hpsNameRow.hpsRow:active label, #hpsCVV2Row.hpsRow:active label, #hpsNumberRow.hpsRow:active label {
    padding: 0px 22px;
    transform: translate(0, 4px) scale(0.75);
    color: #8096a2;
    font-weight: 600;
    z-index: 999;
    text-align: left;
}

#hpsNameRow.hpsRow:focus-within label, #hpsCVV2Row.hpsRow:focus-within label, #hpsNumberRow.hpsRow:focus-within label {
    padding: 0px 22px;
    transform: translate(0, 4px) scale(0.75);
    color: #8096a2;
    font-weight: 600;
    z-index: 999;
    text-align: left;
}

#hpsNameRow.hpsRow:valid label, #hpsCVV2Row.hpsRow:valid label, #hpsNumberRow.hpsRow:valid label {
    padding: 0px 22px;
    transform: translate(0, 4px) scale(0.75);
    color: #8096a2;
    font-weight: 600;
    z-index: 999;
    text-align: left;
}


/* replace "1" with the number of the first field that you want to align horizontally */
/*.form > *:nth-child(1),*/
/* replace "2" with the number of the second field that you want to align horizontally */
/*.form > *:nth-child(2) {
    width: 47%;
}

.input {
    position: relative;
    height: 1.7em;
}

.input__label {
    position: absolute;
    left: 0.3em;
    top: 50%;
    transform: translateY(-50%);
}*/
/*input[type="text"] {
    height: 20px;
    width: 150px;
    margin: 2px 0px 2px 5px;
}*/
/*select {
    height: 20px;
    width: 150px;
    margin: 2px 0px 2px 5px;
}*/
/*#expMonth, #expYear {
    height: 20px;
    width: 70px;
    margin: 2px 0px 2px 5px;
}*/

/* CSS code to replace "Amount" Label text */
#amountLabelText {
    visibility: hidden;
}

#amountLabelText:before {
    visibility: visible;
    text-indent: -1000px;
    content: "Payment Required:";
}

/* CSS code to replace "Credit Card Number" Label text */
#hpsNumberLabel {
    visibility: hidden;
}

#hpsNumberLabel:before {
    visibility: visible;
    text-indent: -1000px;
    content: "Card Number";
}

/* CSS code to hide "What's This" Link */
.hpsCVV2WhatLink {
    display: none;
}

/* CSS code to replace "Expiration Date" Label text */
#hpsExpirationLabel {
    visibility: hidden;
}

#hpsExpirationLabel:before {
    visibility: visible;
    text-indent: -1000px;
    content: "Exp. Date (MM/YY)";
}

/* CSS code to replace "Postal Code" Label text */
#hpsZipText {
    visibility: hidden;
}

#hpsZipText:before {
    visibility: visible;
    text-indent: -1000px;
    content: "ZIP Code";
}

/* Complete Button*/

.completeButton {
    min-width: 197px;
    min-height: 52px;
    background: #004861;
    color: #e7ed67;
    padding: 15px;
    border-radius: 50px;
    font-size: 0px !important;
    line-height: 20px;
    cursor: pointer !important;
    font-family: Gotham Medium;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: none;
}

.completeButton:after {
    font-size: 18px !important;
    content: "Place Order";
}

/* This will change the button status to "Processing" once it's in processing state */
.processingCompleteButton:after {
    font-size: 18px !important;
    /*float: left !important;*/
    content: "Processing";
}

/* Cancel Button */

.cancelButton {
    min-width: 197px;
    min-height: 52px;
    padding: 15px;
    background-color: #f2f4f5;
    border: none;
    color: #004861;
    text-decoration: underline;
    /*font-size: 16px !important;*/
    font-size: 0px !important;
    font-family: "Gotham Bold";
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    margin: 0px 20px;
    text-decoration-color: #297f9d;
}

/* CSS code to replace "Cancel" Button text */
/*.cancelButton {
    font-size: 0px !important;
}*/

.cancelButton:after {
    /*font-size: 20px !important;
    float: left !important;*/
    font-size: 16px !important;
    content: "Cancel Order";
}

/* Select Input */

#hpsTypeRow, #hpsExpirationRow, #hpsAmountRow {
    margin-bottom: 20px;
}

select {
    padding: 0px 10px;
    border: 2px solid #297f9d;
    color: #004861;
    height: 52px;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Gotham Bold";
    text-align: left;
    /*min-width: 100% !important;*/
    display: inline;
    cursor: pointer;
}

select:hover, select:focus {
    border-color: #001e29;
}